<div class="row well well-lg">
    <div class="col-md-9">
      <h2>Event-driven PHP with ReactPHP</h2>
      <h3>The book about asynchronous PHP that you NEED!</h3>
      <p class="lead">        
        A complete guide to writing asynchronous applications with ReactPHP. Discover event-driven architecture and non-blocking I/O with PHP! 
      </p>
      <a href="https://leanpub.com/event-driven-php" target="_blank" class="btn btn-lg btn-primary">Price: 4.99$</a>
    </div>
    <div class="col-md-3 visible-md visible-lg">
      <img src="/assets/images/books/reactphp.png" class="book-promote pull-right" alt="Event-driven PHP with ReactPHP">
    </div>
</div>  
