<div class="well well-lg main-book-promo col-sm-12">
    <div class="col-md-9">
        <h2>ReactPHP For Beginners</h2>
        <h3>Let's discover ReactPHP together!</h3>
        <p class="lead">
            The main goal of this book is to get you started with developing asynchronous applications with ReactPHP,
            teaching you everything you need to know about asynchronous programming in PHP. Contains minimum theory
            and a lot of practice.
        </p>
        <a href="https://leanpub.com/reactphp-for-beginners" target="_blank" class="btn btn-lg btn-primary">
            Minimum price: 5.99$
        </a>
    </div>
    <div class="col-md-3 visible-md visible-lg">
        <a href="https://leanpub.com/reactphp-for-beginners" target="_blank">
            <img src="/assets/images/books/reactphpforbeginners.png"
                 class="book-promote pull-right"
                alt="ReactPHP For Beginners">
         </a>
    </div>
</div>
