<div class="row well well-lg col-md-12">
    <div class="col-md-9">
      <h2>PHP OOP Way</h2>
      <p class="lead">
        Is a book about concepts, techniques and advanced topics of the object-oriented programming in PHP, starting with such basic terms as encapsulation and inheritance and ending with dependency injection, SOLID principles, composition and design patterns.
      </p>
      <a href="https://leanpub.com/phpoopway/" target="_blank" class="btn btn-lg btn-primary">Buy 9.99$</a>
    </div>
    <div class="col-md-3 visible-md visible-lg">
      <img src="/assets/images/books/phpoopway.jpeg" class="book-promote pull-right" alt="PHP OOP Way">
    </div>
</div>  
