<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h4>@ 2016. All rights reserved.</h4>
                <p>
                    <i>If you've got any feedback, comments or just want to chat you can get in 
                        touch via <a href="https://twitter.com/seregazhuk88" target="_blank">Twitter</a> or <a href="mailto:seregazhuk88@gmail.com">email</a></i>.
                </p>
                <p>
                    <a href="/about">More About Me <i class="glyphicon glyphicon-arrow-right"></i></a>
                </p>
            </div>
            <div class="col-sm-4 col-md-3 col-xs-6 pull-right">
                <h4>Contact me</h4>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-envelope"></i> <a href="mailto:seregazhuk88@gmail.com">seregazhuk88@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-skype"></i> <a href="skype:live:seregazhuk88">live:seregazhuk88</a>
                    </li>
                    <li>
                        <i class="fa fa-github"></i> <a target="_blank" href="https://github.com/seregazhuk">Github</a>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/seregazhuk88">Twitter</a>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</footer>
