<!---header---->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="images/logo.jpg" title=""/></a>
        </div>
        <!---start-top-nav---->
        <div class="top-menu">
            <ul>
                {% for item in site.data.menu %}
                    {% if page.url == item.url %}
                    <li class="active">
                        <a href="{{item.url}}" class="">{{item.title}}</a>
                    </li>
                    {% else %}
                    <li class="">
                        <a href="{{item.url}}" class="">{{item.title}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!---//End-top-nav---->
    </div>
</div>
