<div class="col-md-offset-1 col-md-3 hidden-sm hidden-xs">
    <h3>My Books</h3>
    <ul class="list-unstyled archive">
      {% for book in site.data.my_books %}
        <li class="my-books-item row">
            <div class="col-sm-12">
              <a href="{{ post.url }}" class="pull-left">
                <img src="/assets/images/books/{{ book.img }}" class="my-book-promo pull-right" alt="PHP OOP Way">              
              </a>
            </div>
            <div class="col-sm-12">
              <h4>{{ book.title }}</h4>
              <a href="{{ book.link }}" target="_blank" class="btn btn-sm btn-primary">Minimum price: {{ book.price }}$</a>
            </div>
        </li>
      {% endfor %}
    </ul>
</div>
