<div class="my-books row">
    <h3>MY BOOKS</h3>
    <ul class="">
        {% for book in site.data.my_books %}
        <li class="my-books-item row my-book-promo">
            <div class="col-sm-8 row">
                <a href="{{ book.link }}" target="_blank" class="pull-left">
                    <img src="/assets/images/books/{{ book.img }}" class="pull-right"
                         alt="{{ book.title }}">
                </a>
                <a href="{{ book.link }}" target="_blank" class="btn btn-sm btn-primary">
                    Minimum price: {{ book.price }}$
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
