<div class="row">
    <div class="col-md-12">
        <h2>Recent blog posts</h2>
        <ul class="list-group list-unstyled">
            {% for post in site.posts limit:5 %}
                <li class="list-group-item col-xs-12">
                    <div class="title h3 col-sm-10 col-xs-12"><a href="{{ post.url }}">{{ post.title }}</a></div>
                    <div class="date col-sm-2 col-xs-12">{{ post.date | date_to_string }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

