html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 220px
  font-family: 'Open Sans', sans-serif
  font-size: 16px

ul.bullet li
  list-style: disc

.media
  padding-top: 10px

.well
  background-color: transparent

.container 
  max-width: 960px



.book-cover 
  width: 150px
  min-height: 220px
  margin: 15px



