.meta
  margin-bottom: 1em
  color: #777

.meta li
  border-right: 1px solid #ddd

.date 
  padding-top: 25px

.list-group-item 
  margin-bottom: 1px
  border: none
  border-bottom: 1px solid #ddd

.my-books
  &-item
    margin-bottom: 15px
    font-size: 14px

.archive 
  &-item
    margin-bottom: 5px
    font-size: 14px

.list-group-item
  padding: 10px 0

  .title 
    padding-left: 0
    padding-right: 0

.post img 
  border: 1px solid #e3e3e3
  border-radius: 5px
  max-width: 100%

.post .image 
  margin: 40px 0

.reactphp-series
  margin-bottom: 40px
  .list-group-item
    border-bottom: none
    padding: 5px 0

@media only screen and (max-width: 768px)
  .date
    padding-top: 0

