.recent-posts {
  h2 {
    font-size: 2em;
    padding-bottom: 0.1em;
  }

  h5 {
    margin-bottom: 1em;
  }

  .tags {
    .label {
      padding: .1em .3em .1em;
      background-color: transparent;
      color: black;
      font-size: 85%;
    }
  }

  img {
    max-width: 100%;
  }
}

.post-grid {
  h1 {
    color: #00aeff;
    font-size: 2em;
  }

  ul {
    margin: 0 1em 1em;
    padding: 0;
    font-family: 'Lato', sans-serif;
    li {
      color: #7C7C7C;
    }
  }

  h1, h2, h3, h4, h5 {
    margin-bottom: 0.5em;
  }

  .tags {
    margin-bottom: 1em;

    .label {
      padding: .1em .3em .1em;
      background-color: transparent;
      color: black;
      font-size: 85%;
    }
  }

  img {
    max-width: 100%;
  }
}


.pagination {
  padding-left: 2em;
  a {
    text-decoration: underline;
  }
}
