.book-cover 
  width: 155px
  min-height: 220px
  max-height: 220px
  margin: 15px

.main-book-promo
  margin-bottom: 4em
  margin-left: 1em

.book-promote
  border: 1px solid  
  max-height: 215px

.my-book-promo
  margin-bottom: 1em

  img
    border: 1px solid
    max-height: 250px
    margin-bottom: 10px
    width: 100%

  .btn
    width: 100%


@media only screen and (max-width: 768px)
  .book-cover 
    width: 60px
    min-height: 80px
    margin: 15px 0

  .book-title
    margin: 15px 0


