.footer 
  font-size: 14px
  position: absolute
  bottom: 0
  width: 100%
  height: 170px
  background-color: #333
  color: #efefef
  padding: 10px 0

.footer a 
  color: #639cbf

@media only screen and (max-width: 768px)
  body 
    margin-bottom: 340px

  .footer 
    height: 300px
